<!-- $dirty	True if regate has already interacted with the form. -->
<div class="row">
	<div class="row">
		<div class="col-md-3">
			<label>N° * :</label>
		</div>
		<div class="col-md-7">
			<input 	id="numero"
				name="numero"
				value="bateau.numero" 
				ng-model="bateau.numero"
				ng-model-options="{ updateOn: 'blur' }"
				required
				type="text"
			/>
		</div>
	</div>
	<div class="row" ng-show="form.numero.$dirty">
		<div ng-show="form.numero.$error.required">Veuillez saisir un numéro</div>
	</div>	      			
</div>

<div class="row">
	<div class="row">
		<div class="col-md-3">
			<label>Nom * :</label>
		</div>
		<div class="col-md-7">
			<input 	id="nom"
				name="nom"
				value="bateau.nom" 
				ng-model="bateau.nom"
				ng-model-options="{ updateOn: 'blur' }"
				required
				type="text"
			/>
		</div>
	</div>
	<div class="row" ng-show="form.nom.$dirty">
		<div ng-show="form.nom.$error.required">Veuillez saisir un numéro</div>
	</div>	      			
</div>

<div class="row">
	<div class="row">
		<div class="col-md-3">
			<label>Type * :</label>
		</div>
		<div class="col-md-7">
			<select 	id="type"
						name="type"
						ng-model="$parents.selectedType" 
						ng-model-options="{ updateOn: 'blur' }"
						ng-options="type as type.label for type in types"
						required
			></select>
		</div>
	</div>
	<div class="row" ng-show="form.type.$dirty">
		<div ng-show="form.type.$error.required">Veuillez saisir un type</div>
	</div>
</div>


<div class="row">
	<div class="row">
		<div class="col-md-3">
			<label>Nationalité * :</label>
		</div>
		<div class="col-md-7">
			<select 	id="nationalite"
						name="nationalite"
						ng-model="$parents.selectedNationalite" 
						ng-model-options="{ updateOn: 'blur' }"
						ng-options="nationalite as nationalite.label for nationalite in nationalites"
						required
			></select>
		</div>
	</div>
	<div class="row" ng-show="form.nationalite.$dirty">
		<div ng-show="form.nationalite.$error.required">Veuillez saisir une nationalite</div>
	</div>
</div>

<div class="row">
	<div class="row">
		<div class="col-md-3">
			<label>Equipage : *</label>
		</div>
		<div class="col-md-3 equipage">
			<div ng-repeat="equipier in listEquipiers" class="row">
				<label>
					<input			type="checkbox"
									name="selectedEquipiers[]"
									value="{{equpier.numeroLicence}}"
									ng-model="equipier.selected"
		
					/>
					{{equipier.prenom}} {{equipier.nom}}
				</label>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<input type="submit" class="btn btn-primary col-md-offset-3" value="Ajouter" />
</div>
			
<div class="row" ng-show="erreurs.res == 'FAIL' ">
	Erreurs signalées par le serveur (la validation côté client et côté serveur sont différentes pour montrer le fonctionnement):
	<ul>
		<li ng-show="erreurs.err['nom']">{{erreurs.err['nom']}}</li>
		<li ng-show="erreurs.err['prenom']">{{erreurs.err['prenom']}}</li>
	</ul>
</div>

<div class="row" ng-show="erreurs.res == 'SUCCESS' ">
	Succès 
	<br />
	{{mess}}
</div>