<!-- $dirty	True if regate has already interacted with the form. -->
<div class="row">
	<div class="row">
		<div class="col-md-2">
			<label>Intitulé * :</label>
		</div>
		<div class="col-md-8">
			<div class="col-md-3">		
				<input 	id="nom"
					name="nom"
					value="regate.nom"
					ng-model="regate.nom"
					ng-model-options="{ updateOn: 'blur' }"
					required
					type="text"
				/>
		</div></div>
	</div>
	<div class="row" ng-show="form.nom.$dirty">
		<div ng-show="form.nom.$error.required">Veuillez saisir un Intitulé</div>
	</div>
	      			
</div>

<div id="date" ng-include="'views/form_dateD.html'"></div>

<div class="row">
	<div class="row">
		<div class="col-md-2">
			<label>Niveau * :</label>
		</div>
		<div class="col-md-8">
			<div class="col-md-3">
				<select 	id="niveau"
							name="niveau"
							ng-model="$parent.selectedNiveau"
							ng-options="niveau as niveau.label for niveau in niveaux"
							required
				></select>
		</div></div>
	</div>
	<div class="row" ng-show="form.niveau.$dirty">
		<div ng-show="form.niveau.$error.required">Veuillez saisir un niveau</div>
	</div>
</div>

<div class="row">
	<div class="row">
		<div class="col-md-2">
			<label>Type * :</label>
		</div>
		<div class="col-md-8">
			<div class="col-md-3">
				<select 	id="type"
							name="type"
							ng-model="$parent.selectedType" 
							ng-model-options="{ updateOn: 'blur' }"
							ng-options="type as type.label for type in types"
							required
				></select>
		</div></div>
	</div>
	<div class="row" ng-show="form.type.$dirty">
		<div ng-show="form.type.$error.required">Veuillez saisir un type</div>
	</div>
</div>

<div class="row">
	<div class="row">
		<div class="col-md-2">
			<label>Description :</label>
		</div>
		<div class="col-md-8">
			<div class="col-md-3">
				<textarea 	id="description"
					name="description"
					value="regate.description"
					ng-model="regate.description" 
					ng-model-options="{ updateOn: 'blur' }"
				></textarea>
		</div></div>
	</div>
	<div class="row" ng-show="form.description.$dirty">
	</div>
</div>

<div class="row">
	<input type="submit" class="btn btn-primary col-md-offset-3" value="Ajouter" />
</div>
			
<div class="row" ng-show="erreurs.res == 'FAIL' ">
	Erreurs signalées par le serveur (la validation côté client et côté serveur sont différentes pour montrer le fonctionnement):
	<ul>
		<li ng-show="erreurs.err['nom']">{{erreurs.err['nom']}}</li>
		<li ng-show="erreurs.err['prenom']">{{erreurs.err['prenom']}}</li>
	</ul>
</div>

<div class="row" ng-show="erreurs.res == 'SUCCESS' ">
	Succès 
	<br />
	{{mess}}
</div>