<header><h1>{{regate.nom}}</h1></header>

<div ng_init="initVisu()">
	<div id="detailRegate" class="row">
		<div class="row">
			<div class="col-md-2"><b>Date de début :</b></div>
			<div class="col-md-1">{{regate.dateDebut}}</div>
			<div class="col-md-1"><b>Niveau :</b></div>
			<div class="col-md-1">{{regate.niveau}}</div>
		</div>
		<div class="row">
			<div class="col-md-2"><b>Date de fin :</b></div>
			<div class="col-md-1">{{regate.dateFin}}</div>
			<div class="col-md-1"><b>Type :</b></div>
			<div class="col-md-1">{{regate.type}}</div>
		</div>
		<div class="row">
			<div class="col-md-2"><b>Description :</b></div>
		</div>
		<div class="row">
			<div class="col-md-9">{{regate.description}}</div>		
		</div>
		<div class="row">
			<a ng-click="redirectToUpdateRegate(regate)" class="btn btn-primary glyphicon glyphicon-pencil"></a>
			<a ng-click="deleteRegate(regate)" class="btn btn-danger glyphicon glyphicon-trash"></a>
		</div>
	</div>
	
	<div class="row">
		<h2>Courses</h2>
		<div id="courses" ng-include="'views/regate_visuCoursesA.html'"></div>
	</div>

	<div class="row">
		<h2>Bateaux</h2>
		<div id="bateaux" ng-include="'views/regate_visuBateaux.html'"></div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-primary" ng-click="redirectToInscription(regate)">Inscription</button>
		</div>
	</div>
	
</div>